/* match select to the rest of Timy.css's inputs */
select {
  display: block;
  margin-bottom: 0.5rem;
}

fieldset {
  margin-bottom: 0.5rem;
}

.photo-controls {
  margin-bottom: 1rem;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.table-center {
  text-align: center;
}

.preview {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;

  img {
    max-height: 300px;
  }
}
